<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMTiPACS - Manage</title>

    <!-- Styles  -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Navbar -->
    @Html.Partial("HomeHeader")

    <!-- Section -->
    <section class="manage-section">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    @model philimagex.Models.ChangePasswordViewModel
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Change your password</h4>
                            </div>
                            <div class="panel-body">
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Old Password" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm New Password" })
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="form-group">
                                    <div class="col-md-offset-4 col-md-8">
                                        <input type="submit" value="Change password" class="btn btn-success btn-lg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                    }
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>