<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMTiPACS - Home</title>

    <!-- Styles  -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Navbar -->
    @Html.Partial("HomeHeader")

    <!-- Header -->
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>DMTiPACS</h1>
                        <h2>Image Solutions</h2>
                        <br />
                        <div class="title-description">Complete Software-as-a-Service (SaaS) Telerad Application with unlimited and independent cloud storage.</div>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/Manage/Index" class="btn btn-primary btn-lg btn-custom-size"><i class="fa fa-check fa-fw"></i> Get Stared</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a name="about"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">DMTiPACS Image Solutions</h2>
                    <p class="lead">Complete Software-as-a-Service (SaaS) Telerad Application with unlimited and independent cloud storage.</p>
                    <p class="lead">DMTiPACS is an end-to-end cloud-based Telerad Application that covers medical equipment integration to remote reading and printing of results.</p>
                    <p>Features:</p>
                    <p>
                        <ul>
                            <li>100% Cloud Application with independent storage.</li>
                            <li>Fully integrated PACS recording and real-time cloud study entries.</li>
                            <li>Customizable DICOM code entries.</li>
                            <li>Customizable physician's template.</li>
                            <li>Customizable result reports.</li>
                            <li>Multi-level security with physician's electronic signature.</li>
                            <li>Online management reports, e.g., Billing Transactions.</li>
                        </ul>
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="~/Images/dmtipacs_stations.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <a name="customers"></a>
    <div class="content-section-c">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <br /><br />
                    <div class="col-lg-3"><img class="img-responsive" src="~/Images/logo/alcantara.jpg" alt=""></div>
                    <div class="col-lg-3"><img class="img-responsive" src="~/Images/logo/lrmedical.jpg" alt=""></div>
                    <div class="col-lg-3"><img class="img-responsive" src="~/Images/logo/mcitpf-1.jpg" alt=""></div>
                    <div class="col-lg-3"><img class="img-responsive" src="~/Images/logo/margosatubig.jpg" alt=""></div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Customers</h2>
                    <p class="lead">Join our growing customers.</p>
                    <ul id="homePageStatus">
                        @*<li> 3 Hospitals / Healthcare Facilities</li>
                        <li> 5 Radiologist / Doctors </li>*@
                    </ul>
                    <p class="lead"><a href="~/Images/TeleradBrochure.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> - Download Brochure</a></p>
                </div>

            </div>
        </div>
    </div>

    <a name="digitizer"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Supported Digitizers</h2>
                    <p class="lead">We support the following digitizer brands.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="~/Images/support_digitizer.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <a name="contact"></a>
    <!-- /.content-section-a -->
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul class="list-group banner-list">
                        <li class="list-group-item"><i class="fa fa-map-marker fa-fw"></i> Cebu City, Philippines 6000</li>
                        <li class="list-group-item"><i class="fa fa-phone fa-fw"></i> +63 32 9178123982</li>
                        <li class="list-group-item">Support: <a href="#">support@dmtipacs.com</a></li>
                        <li class="list-group-item">Marketing: <a href="#">marketing@dmtipacs.com</a></li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <div class="img-responsive img-thumbnail" style='overflow: hidden; height: 400px; width: 100%;'>
                        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAnGzUqbgnhr0Ainxl_aU5g7E4pUbWoHqg'></script>
                        <div id='gmap_canvas' style='height:400px; width:100%;'></div>
                        <style>
                            #gmap_canvas img {
                                max-width: none !important;
                                background: none !important;
                            }
                        </style>
                        <a href='https://mapswebsite.org/'>mapswebsite</a>
                        <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=7aca4a0a0430773dffa6f863e0deb3241ad124fa'></script>
                        <script type='text/javascript'>
                            function init_map() {
                                var myOptions = {
                                    zoom: 16,
                                    center: new google.maps.LatLng(10.3098543, 123.89315590000001),
                                    mapTypeId: google.maps.MapTypeId.ROADMAP
                                };

                                map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
                                marker = new google.maps.Marker({
                                    map: map, position: new google.maps.LatLng(10.3098543, 123.89315590000001)
                                });

                                infowindow = new google.maps.InfoWindow({
                                    content: '<strong>DMTIpacs</strong><br>Fuente Osmeña<br>6000 Cebu City<br>'
                                });

                                google.maps.event.addListener(marker, 'click', function () { infowindow.open(map, marker); }); infowindow.open(map, marker);
                            }

                            google.maps.event.addDomListener(window, 'load', init_map);</script>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>

    <!-- Footer -->
    @Html.Partial("HomeFooter")

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '/api/user/listHomePageStatus',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (results) {
                    for (i = 0; i < results.length; i++) {
                        $('#homePageStatus').append('<li>' + results[i] + '</li>');
                    }
                }
            });
        });
    </script>

</body>
</html>











@*@{
        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@